<h3>Edit selected student</h3>
<div>
  <form [formGroup]="studentForm">
      <label>Name:</label>
        <input id="name" formControlName="name">
    <div>
      <label>Surname:</label>
        <input id="surname" formControlName="surname" >
    </div>
    <div>
      <label>Index:</label>
        <input id="index" formControlName="index">
    </div>
    <div>
      <label>Modul1:</label>
        <input formControlName="modul1">
    </div>
    <button (click)="change()">Change</button>
  </form>
</div>
