<div class="row">
  <nav class="navbar navbar-light col-md-3">
    <ul class="nav navbar-nav left-buffer">
      <li *ngFor="let student of students" class="nav-item">
        <a [routerLink]="['/details',student.indeks]" routerLinkActive="active" class="navbar-link">
          {{student.ime}}
        </a>
        <button title="delete student"
                (click)="delete(student)">Delete</button>
      </li>
      <a [routerLink]="['/new']" routerLinkActive="active" class="btn btn-primary">
        +
      </a>
    </ul>
    <router-outlet></router-outlet>
  </nav>

</div>
